openapi: 3.0.3
info:
  title: GeoMark API
  description: |
    Backend API для GeoMark — GPS Camera приложения.

    ## Основные возможности:
    - Загрузка фото с GPS координатами
    - Генерация публичных ссылок
    - Управление удалением фото (автоудаление)
    - Модерация через Telegram Bot

    ## Аутентификация:
    - Анонимное использование (device ID)
    - Без регистрации/логина

  version: 1.0.0
  contact:
    name: GeoMark Support
    email: support@geomark.app
    url: https://geomark.app
  license:
    name: Proprietary

servers:
  - url: https://api.geomark.app/v1
    description: Production
  - url: https://staging-api.geomark.app/v1
    description: Staging
  - url: http://localhost:3000/v1
    description: Local Development

tags:
  - name: photos
    description: Загрузка и управление фотографиями
  - name: links
    description: Публичные ссылки
  - name: health
    description: Health check endpoints

paths:
  /health:
    get:
      summary: Health Check
      description: Проверка работоспособности API
      tags:
        - health
      responses:
        '200':
          description: API работает
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                    example: '2026-01-15T10:30:00Z'
                  version:
                    type: string
                    example: '1.0.0'

  /photos/upload:
    post:
      summary: Загрузка фото с GPS
      description: |
        Загружает фото с GPS координатами и метаданными.

        ## Лимиты:
        - Макс размер файла: 10MB
        - Формат: JPEG, PNG, HEIC
        - Rate limit: 10 uploads/hour на device_id

        ## Metadata:
        - IP адрес (автоматически)
        - Device ID (из headers)
        - GPS координаты (из body)
        - Device model, OS version

      tags:
        - photos
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - photo
                - latitude
                - longitude
              properties:
                photo:
                  type: string
                  format: binary
                  description: Файл фото (JPEG/PNG/HEIC, макс 10MB)
                latitude:
                  type: number
                  format: double
                  minimum: -90
                  maximum: 90
                  example: 55.7558
                  description: GPS широта
                longitude:
                  type: number
                  format: double
                  minimum: -180
                  maximum: 180
                  example: 37.6173
                  description: GPS долгота
                accuracy:
                  type: number
                  format: float
                  minimum: 0
                  example: 8.5
                  description: GPS точность в метрах (опционально)
                altitude:
                  type: number
                  format: float
                  example: 150.0
                  description: Высота над уровнем моря (опционально)
                auto_delete_after:
                  type: string
                  enum: [1h, 24h, 7d, never]
                  default: 24h
                  example: 24h
                  description: Автоудаление через указанный период
                device_model:
                  type: string
                  example: 'iPhone 15 Pro'
                  description: Модель устройства (опционально)
                os_version:
                  type: string
                  example: 'iOS 17.2'
                  description: Версия ОС (опционально)
                app_version:
                  type: string
                  example: '1.0.0'
                  description: Версия приложения (опционально)
      parameters:
        - name: X-Device-ID
          in: header
          required: true
          schema:
            type: string
            example: 'ABC123-iPhone15Pro-iOS17.2'
          description: Уникальный идентификатор устройства
      responses:
        '201':
          description: Фото успешно загружено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoUploadResponse'
        '400':
          description: Неверные параметры
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Файл слишком большой (> 10MB)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: 'Rate limit exceeded'
                message: 'You can only upload 10 photos per hour. Try again in 45 minutes.'
                code: 'RATE_LIMIT_EXCEEDED'

  /photos/{photoId}:
    get:
      summary: Получить информацию о фото
      description: Возвращает метаданные фото (без URL самого фото, если уже удалено)
      tags:
        - photos
      parameters:
        - name: photoId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: '550e8400-e29b-41d4-a716-446655440000'
      responses:
        '200':
          description: Информация о фото
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoMetadata'
        '404':
          description: Фото не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Удалить фото
      description: |
        Удаляет фото (и опционально метаданные).

        **ВАЖНО:** После консультации с юристом решить:
        - Вариант A: Полное удаление (фото + метаданные)
        - Вариант B: Удаление фото, метаданные остаются 90 дней

      tags:
        - photos
      parameters:
        - name: photoId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Device-ID
          in: header
          required: true
          schema:
            type: string
          description: Device ID для верификации владельца
      responses:
        '204':
          description: Фото успешно удалено
        '403':
          description: Не ваше фото (device ID не совпадает)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Фото не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /links/generate:
    post:
      summary: Сгенерировать публичную ссылку
      description: |
        Создаёт короткую публичную ссылку для фото.

        **Формат ссылки:** `https://geomark.app/p/abc123`

        ## Настройки:
        - Expires based on auto_delete_after
        - View counter (сколько раз открыли)

      tags:
        - links
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - photo_id
              properties:
                photo_id:
                  type: string
                  format: uuid
                  example: '550e8400-e29b-41d4-a716-446655440000'
      parameters:
        - name: X-Device-ID
          in: header
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Ссылка создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicLinkResponse'
        '403':
          description: Не ваше фото
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Фото не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /links/{shortCode}:
    get:
      summary: Получить данные публичной ссылки
      description: |
        Возвращает данные для web-просмотра фото.

        **Используется:** Web viewer на сайте geomark.app/p/{shortCode}

      tags:
        - links
      parameters:
        - name: shortCode
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{6,8}$'
            example: 'abc123'
      responses:
        '200':
          description: Данные ссылки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicLinkData'
        '404':
          description: Ссылка не найдена или истекла
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: Фото удалено (но метаданные остались)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Photo deleted'
                  deleted_at:
                    type: string
                    format: date-time
                    example: '2026-01-14T10:00:00Z'
                  metadata_available:
                    type: boolean
                    example: true
                    description: Есть ли метаданные (GPS, время загрузки)

  /links/{shortCode}/view:
    post:
      summary: Increment view counter
      description: Увеличивает счётчик просмотров ссылки
      tags:
        - links
      parameters:
        - name: shortCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: View count updated
        '404':
          description: Link not found

components:
  schemas:
    PhotoUploadResponse:
      type: object
      properties:
        photo_id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        upload_timestamp:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        auto_delete_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-01-16T10:30:00Z'
          description: Когда фото будет удалено (null = never)
        location:
          type: object
          properties:
            latitude:
              type: number
              format: double
              example: 55.7558
            longitude:
              type: number
              format: double
              example: 37.6173
            address:
              type: string
              example: 'Красная площадь, Москва, Россия'
              description: Geocoded адрес
            accuracy:
              type: number
              format: float
              example: 8.5
        storage:
          type: object
          properties:
            size_bytes:
              type: integer
              example: 3456789
            format:
              type: string
              example: 'JPEG'
            dimensions:
              type: object
              properties:
                width:
                  type: integer
                  example: 4032
                height:
                  type: integer
                  example: 3024
        public_link:
          type: string
          format: uri
          nullable: true
          example: 'https://geomark.app/p/abc123'
          description: Автоматически сгенерированная публичная ссылка

    PhotoMetadata:
      type: object
      properties:
        photo_id:
          type: string
          format: uuid
        upload_timestamp:
          type: string
          format: date-time
        location:
          type: object
          properties:
            latitude:
              type: number
              format: double
            longitude:
              type: number
              format: double
            address:
              type: string
            accuracy:
              type: number
              format: float
        device:
          type: object
          properties:
            model:
              type: string
              example: 'iPhone 15 Pro'
            os_version:
              type: string
              example: 'iOS 17.2'
            app_version:
              type: string
              example: '1.0.0'
        deletion:
          type: object
          properties:
            scheduled_at:
              type: string
              format: date-time
              nullable: true
            deleted_at:
              type: string
              format: date-time
              nullable: true
            photo_deleted:
              type: boolean
              description: Удалено ли само фото (метаданные могут остаться)
        statistics:
          type: object
          properties:
            views:
              type: integer
              example: 42
              description: Сколько раз открыли публичную ссылку

    PublicLinkResponse:
      type: object
      properties:
        short_code:
          type: string
          example: 'abc123'
        url:
          type: string
          format: uri
          example: 'https://geomark.app/p/abc123'
        expires_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-01-16T10:30:00Z'
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'

    PublicLinkData:
      type: object
      properties:
        photo_url:
          type: string
          format: uri
          example: 'https://r2.geomark.app/photos/550e8400-e29b-41d4-a716-446655440000.jpg'
          description: URL фото в Cloudflare R2
        thumbnail_url:
          type: string
          format: uri
          example: 'https://r2.geomark.app/thumbs/550e8400-e29b-41d4-a716-446655440000.jpg'
          description: URL thumbnail (640x480)
        location:
          type: object
          properties:
            latitude:
              type: number
              format: double
              example: 55.7558
            longitude:
              type: number
              format: double
              example: 37.6173
            address:
              type: string
              example: 'Красная площадь, Москва, Россия'
        metadata:
          type: object
          properties:
            upload_timestamp:
              type: string
              format: date-time
              example: '2026-01-15T10:30:00Z'
            dimensions:
              type: object
              properties:
                width:
                  type: integer
                  example: 4032
                height:
                  type: integer
                  example: 3024
            size_mb:
              type: number
              format: float
              example: 3.3
        statistics:
          type: object
          properties:
            views:
              type: integer
              example: 42
        expires_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-01-16T10:30:00Z'

    Error:
      type: object
      required:
        - error
        - code
      properties:
        error:
          type: string
          example: 'Invalid request'
        message:
          type: string
          example: 'The photo file is required'
        code:
          type: string
          enum:
            - INVALID_REQUEST
            - FILE_TOO_LARGE
            - RATE_LIMIT_EXCEEDED
            - NOT_FOUND
            - FORBIDDEN
            - INTERNAL_ERROR
          example: 'INVALID_REQUEST'
        details:
          type: object
          nullable: true
          description: Дополнительная информация об ошибке

  securitySchemes:
    DeviceID:
      type: apiKey
      in: header
      name: X-Device-ID
      description: |
        Уникальный идентификатор устройства.

        **iOS:** IDFV + device model + OS version
        **Android:** Android ID + device model + OS version
        **Web:** localStorage ID


security:
  - DeviceID: []
